@import url("https://fonts.cdnfonts.com/css/vezla");
@font-face {
    font-family: "Vezla";
    src: url("./font/Vezla_2.0.ttf");
}
@font-face {
    font-family: "Space Age Cyrillic";
    src: url("./font/Space_Age.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("./font/Montserrat-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

body,
html {
    height: 100%;
    background: url("../src/image/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Vezla", sans-serif;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#root {
    height: 100%;
    width: 100%;
    font-family: "Vezla", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}
